body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  height: 100vh; /* Full viewport height */
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.content {
  flex: 1; /* Take up remaining space */
  display: flex; /* Use Flexbox for grid layout */
  box-sizing: border-box; /* Include padding and borders in width calculations */
  overflow: hidden; /* Hide overflow if content is too large */
}

.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  box-sizing: border-box;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 1px); /* 60% of viewport width minus margins */
  height: 100%;
  box-sizing: border-box;
}

.second-column {
  display: flex;
  flex-direction: column;
  width: calc(40vw - 1px); /* 40% of viewport width minus margins */
  height: 100%;
  box-sizing: border-box;
}

.grid-item {
  background: rgb(86, 86, 86);
  margin: 1px; /* Space between grid items */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  flex: 1 1 calc(50% - 1px); /* Flex items to take up 50% height with margins */
}

.zoom-controls {
  position: absolute;
  top: 10px;
  left: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.zoom-controls button {
  margin: 1px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #000000;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.zoom-controls button:hover {
  background-color: #053bff;
}

.map-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(170, 170, 170, 0.7);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content; /* or a fixed width if preferred */
  z-index: 10;
}

.map-legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.map-legend-circle,
.map-legend-square {
  display: inline-block;
  margin-right: 2px;
}

.map-legend-circle {
  border-radius: 50%;
}

.map-legend-square {
  border-radius: 2px;
}

.map-legend-text {
  margin-left: 2px;
}

.map {
  width: 100%;
  height: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0;
}

.scatterplot-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(170, 170, 170, 0.7);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content; /* or a fixed width if preferred */
  z-index: 10;
}

.scatterplot-legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.scatterplot-legend-circle {
  display: inline-block;
  margin-right: 2px;
  border-radius: 50%;
}

.scatterplot-legend-text {
  margin-left: 2px;
}