body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  height: 100vh; /* Full viewport height */
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.content {
  flex: 1; /* Take up remaining space */
  display: flex; /* Use Flexbox for grid layout */
  box-sizing: border-box; /* Include padding and borders in width calculations */
  overflow: hidden; /* Hide overflow if content is too large */
}

.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 1px); /* 60% of viewport width minus margins */
  height: 100%;
  box-sizing: border-box;
}

.second-column {
  display: flex;
  flex-direction: column;
  width: calc(40vw - 1px); /* 40% of viewport width minus margins */
  height: 100%;
  box-sizing: border-box;
}

.grid-item {
  background: rgb(86, 86, 86);
  margin: 1px; /* Space between grid items */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-sizing: border-box;
  border-radius: 4px;
  flex: 1 1 calc(50% - 1px); /* Flex items to take up 50% height with margins */
}

.map {
  width: 100%;
  height: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  cursor: move;
}